.card {
  width: 400px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;

}
ul li:hover {
  background-color: #ff0000;
  cursor: pointer;
}
ul li a {
  text-decoration: none;
  color: green;
  font-size: 14px;
}
.card hr {
  width: 100%;
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}
.search-menu {
  margin-bottom: 10px;
}

.search-menu input[type="text"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.search-menu button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.card {
  width: 100%;
  max-width: 400px; /* Adjust the desired maximum width */
  margin: 0 auto; /* Center the card horizontally */
  /* Add any other styles you want for the card */
}
a {
  text-decoration: none;
}
.search-button a {
  color: green;
  border-radius: 50%;
  text-decoration: blink;
}
