footer {
  background-color: #530958;
  color: #fff;
  padding: 50px 0;
  margin-top: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  flex: 1;
  margin-bottom: 20px;
}

.footer-col h4 {
  margin-bottom: 20px;
}

.footer-col p,
.footer-col ul {
  font-size: 14px;
  line-height: 1.8;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-col ul li a:hover {
  color: #e30b5d;
}

.social-links {
  display: flex;
  justify-content: flex-start;
}

.social-links a {
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #e30b5d;
}
h4{
    color: #ff0000;
}
