

{% extends 'departments/base.html' %}
{% block content %}
    <div class="row mt-3">
        <div class="col-lg-7 col-md-8">
            <h2 style="color: blue;" class="section-heading">{{ history.title }}</h2>
            <p>{{ history.description }}</p>
        </div>
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img style="width: 200px;  height: 200px;  border-radius: 50%;  object-fit: cover;" class="img-fluid img-thumbnail" src="{{ history.photo.url }}" alt="History Photo">
    </div>
    </div>
{% endblock content %}
